@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    min-height: 63vh;
    margin: 43px 0px;
}
h1{
    font-family: 'Akaya Telivigala', cursive;
    text-align: center;
    font-size: 43px;
    margin-top: 18px;
}
.myForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.myInput{
    font-family: 'Akaya Telivigala', cursive;
    font-size: 16px;
    width: 40%;
    padding: 9px;
    margin: 8px;
    border: 2px solid black;
    border-radius: 5px;
    outline: none;
}
.btn{
    font-family: 'Akaya Telivigala', cursive;
    padding: 6px 18px;
    color: white;
    background-color: #d43b3b;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    margin-top: 15px;
}